@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container {
    max-width: 1320px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.nav-shadow {
    box-shadow: 0px 4px 35px 0px #00000014;
}

.switch-btn {
    width: 40px;
    height: 23px;
    border-radius: 11.5px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #f0f0f0;
}

.switch {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: black;
}

.slide {
    justify-content: end;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.font1 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.6;
    color: #000000;
}

.font2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.gap-50 {
    gap: 50px;
}

.justify-content-space-between {
    justify-content: space-between;
}

.gap-25 {
    gap: 25px;
}

.outline {
    outline: 2px solid white;
    border-radius: 50%;
}

.outline2 {
    outline: 2px solid white;
}

.searchIcon {
    display: none;
}

.pl-25 {
    padding-left: 25px;
}

.border {
    border: 1px solid #00000033;
    border-radius: 26px;
}

.background-image {
    background-image: url("/assets/images/background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 412px;
}

.background-color {
    background: #F8F8F8;
}

.py-20 {
    padding-top: 17px;
    padding-bottom: 18px;
}
.pl-18{
    padding-left: 18px;
}

.p-relative {
    position: relative;
}

.pt-39 {
    padding-top: 39px;
}

.pl-39 {
    padding-left: 39px;
}

.font3 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.card {
    border-radius: 30px !important;
    box-shadow: 0px 38px 85px -19px #0000001A !important;
}

.translateY-8 {
    transform: translateY(-8%);
}

.font4 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.6;
    color: #000000;
}

.font5 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.6;
    color: #000000;
}

.font6 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.6;
    color: #000000;
}

.gap-88 {
    gap: 88px;
}

.pt-72 {
    padding-top: 72px;
}

.pl-47 {
    padding-left: 47px;
}

.pt-7 {
    padding-top: 7px;
}

.pt-34 {
    padding-top: 34px;
}

.font7 {
    max-width: 1243px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.6;
    color: #000000;
}

.pt-89 {
    padding-top: 89px;
}

.p-absolute {
    position: absolute !important;
    top: 62%;
}

.px-39 {
    padding-left: 39px;
    padding-right: 38px;
}

.pb-38 {
    padding-bottom: 38px;
}

.button {
    width: 144px;
    height: 43px;
    padding: 8px 24px 8px 24px;
    border-radius: 25.5px;
    border: none;
    background-color: #000000;
}

.font8 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.p-absolute-2 {
    position: absolute;
    top: 7%;
    right: 6%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.border-radius-30 {
    border-radius: 30px;
}

.font9 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.p-absolute-3 {
    position: absolute;
    bottom: 5%;
    left: 8%;
}

.gap-15 {
    gap: 15px;
}

.pl-35 {
    padding-left: 35px;
}

.pl-88 {
    padding-left: 88px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px !important;
    margin-right: -12px !important;
}


.modal {
    top: 10% !important;
}

.modal-dialog {
    max-width: 1320px !important;
}

.max-width-687 {
    width: 687px;
    height: 652px;
}

.font10 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.card3 {
    width: 543px;
    height: 652px;
    border: 1px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        linear-gradient(0deg, #FAFAFA, #FAFAFA);
}

.content {
    padding: 25px;
}

.card4 {
    background: #FFFFFF;
    box-shadow: 0px 5px 10px 0px #0000000D;
    width: 436px;
    border-radius: 0px 10px 10px 10px;
}

.ml-30 {
    margin-left: -30px;
}

.content2 {
    padding: 15px;
}

.ml-14 {
    margin-left: 14px;
}

.pt-17 {
    padding-top: 17px;
}

.btn-close {
    width: 61px !important;
    height: 61px !important;
    background-color: white !important;
    border-radius: 50% !important;
    box-shadow: 0px 5px 20px 0px #00000040 !important;
    position: absolute;
    right: -4%;
    top: -4%;
    z-index: 1;
}

.pt-21 {
    padding-top: 21px;
}

.font11 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.6;
    color: #000000;
}

.font12 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.font13 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.6;
    color: #000000;
}

.overflow-y-s {
    width: 517px;
    height: 550px;
    overflow-y: scroll;
}

.overflow-y-s::-webkit-scrollbar {
    width: 8px;
}

.overflow-y-s::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.pb-34 {
    padding-bottom: 34px;
}

@media(max-width:992px) {
    .max-width-687 {
        width: 100%;
        height: 100%;
    }

    .ml-30 {
        margin-left: 0;
    }

    .card3 {
        width: 100%;
        height: 100%;
    }

    .overflow-y-s {
        width: 100%;
    }

    .card4 {
        width: 100%;
    }

    .card3 {
        margin-top: 30px;
    }

    .translateY-8 {
        transform: translateY(-4%);
    }

    .btn-close {
        width: 30px !important;
        height: 30px !important;
        background-color: white !important;
        border-radius: 50% !important;
        box-shadow: 0px 5px 20px 0px #00000040 !important;
        position: absolute;
        right: 0;
        top: -1%;
        z-index: 1;
    }
}

@media(max-width:900px) {
    .searchBar {
        display: none;
    }

    .searchIcon {
        display: block;
    }
}

@media(max-width:800px) {
    .mobileView {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0;
        position: fixed;
        width: 100%;
        height: 25%;
        top: -100%;
        transition: all 500ms linear;
        background-color: gray;
        z-index: 2;
    }

    .mobileView.show {
        top: 0;
    }

    .menu {
        z-index: 3;
    }

    .justify-content-space-between {
        justify-content: end !important;
    }
}

@media(min-width:800px) {
    .menu {
        display: none;
    }
}

@media(max-width:768px) {
    .translateY-8 {
        transform: translateY(-1%);
    }

    .flex-direction-column {
        flex-direction: column;
    }
}

@media(max-width:460px) {
    .div {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .flex-direction-column2 {
        flex-direction: column;
    }

    .gap-88 {
        gap: 36px;
    }

    .text-align-center {
        text-align: center;
    }

    .p-absolute-2 {
        top: 24%;
        right: 27%;
    }

    .logo {
        display: none;
    }
    .font8{
        font-size: 14px;
    }
}

@media(max-width:408px) {
    .p-absolute-2 {
        top: 22%;
        right: 25%;
    }
}
@media(max-width:360px){
    .p-absolute-2 {
        top: 20%;
        right: 24%;
    }
}

.darkMode {
    background-color: black !important;
}

.color-white {
    color: white !important;
    opacity: unset !important;
}

.outline3 {
    outline: 2px solid white;
    border-radius: 30px;
}

.svg-color {
    fill: white !important;
}
.button-color{
    background-color: white !important;
}
.button-text{
    color: black;
}